{% extends "header.html" %}

{% block content %}
    {% if validlink %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">
                New password: {{ form.new_password1 }}
            </label>
            {{ form.new_password2.errors }}
            <label for="id_new_password2">
                Confirm new password: {{ form.new_password2 }}
            </label>
            <input type="submit" value="Change password">
        </form>
    {% else %}
        <p>Password reset unsuccessful.</p>
    {% endif %}
{% endblock %}
