{% extends "header.html" %}

{% block content %}
    <div class="col-md-4 mx-auto">
        <div class="card text-center border-primary" >
            <div class="card-header">
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% else %}
                    Send a Password Reset Link
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <!-- restricted access -->
                            You are already authenticated.
                    {% endif %}
                {% endif %}
            </div>
            <div class="card-body">
                <p>
                    <form method="post" action="" class="align-items-center">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <input type="submit" value="Reset" class="btn btn-primary">
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
