<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}My Moments{% endblock %}
        </title>
        {% load static %}
        <!-- enable bootstrap styling -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'mymoments/css/bootstrap.css' %}"
        />
    </head>
    <body>
        <div class="container w-100" id="alert_messages">
            {% if messages %}
                {% for message in messages%}
                    <strong>{{ message }}</strong>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row" id="top-navbar">
            <div class="container">
                <div class="btn-group">
                    <div class="col">
                        <div class="container">
                            <a href="{% url 'my_moments' %}" hover-text="Return to My Moments">
                                <img src="{% static 'images/mymoments-01.png' %}" class="img" style="min-width: 450px; max-width: 75%; min-height: 126px; max-height: 75%;">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <a href="{% url 'all_moments' %}" class="btn btn-primary active" aria-current="page">
                            All Moments
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'my_moments' %}" class="btn btn-primary active">
                            My Moments
                        </a>
                    </div>
                    <div class="col">
                        {% if user.is_authenticated %}
                        <div class="row">
                            Logged in as <a href="{% url 'my_moments' %}" class="btn btn-primary active">{{ user.username }}</a>
                        </div>
                        <div class="row">
                            <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-primary active">Sign out</a>
                        </div>
                        {% else %}
                        <div class="row">
                            <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary active">Log in</a>
                        </div>
                        <div class="row">
                            <a href="{% url 'signup' %}" class="btn btn-primary active">Sign up</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-auto">
            {% if user.is_authenticated %}
            <div class="col col-2 p-3" id="side-navbar">
                <div class="container">
                    <div class="row">
                        <div class="col mx-auto">
                            <!-- new moment -->
                            <a href="{% url 'new_moment' %}" class="btn btn-secondary btn-lg">
                                Create a new moment
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <!-- moment feed? -->
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col fill mx-auto" id="page-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
