{% extends "header.html" %}

{% block title %}
    All Moments
{% endblock %}

{% block content %}
<div class="col col-6 mx-auto">
<div class="list-group">
    {% for moment in moment_list %}
    {{ moment_list.count }}{{ moment.id }}
        {% if moment.id == moment_list.count %}
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        {% else %}
            <a href="#" class="list-group-item list-group-item-action">
        {% endif %}
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ moment.moment_by }}</h5>
                <small>{{ today }} is today</small>
            </div>
            <p class="mb-1">{{ moment.moment_text|safe }}</p>
            <small>@{{ moment.moment_by }}</small>
        </a>
    {% endfor %}
</div>
{% endblock %}
