{% extends "header.html" %}

{% block title %}
    My Moments
{% endblock %}

{% block content %}
<table class="fill">
        <thead>
            <tr>
                <th>Moment</th>
                <th>Moment by</th>
                <th>Moment created</th>
                <th>Moment last edited</th>
                <th><!-- edit --></th>
            </tr>
        </thead>
        <tbody>
            {% for moment in moment_list %}
                {% if moment.moment_by == user %}
                <tr>
                    <td></td>
                    <td>{{ moment.moment_by }}</td>
                    <td>{{ moment.moment_created }}</td>
                    <td>
                        {% if moment.moment_edited %}
                            {{ moment.moment_edited }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_moment' moment.id %}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'destroy_moment' moment.id %}" class="btn btn-primary btn-sm">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ moment.moment_text }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
